<h2 class='available-spaces-header'>Available Spaces</h2>



<% @spaces.each do |space| %>
<div class='card' style='width: 18rem;'>
<ul class='card-body'>
    <li class='card-title'>Name: <%= space.name %> </li>
    <li class='list'>From: <%= space.location %></li>
      <div class="col align-self-start">
        <li class='list'>Height: <%= space.height %> cm</li>
        <li class='list'>Width: <%= space.width %> cm</li>
        <li class='list'>Depth: <%= space.depth %> cm</li>
      </div>
    <li class='list'>Price <%= space.price %> dollars</li>
    <li class='list'>Status:
      <% if space.booking %>
        <%= space.booking.status %>
      <% else %>
        <%= "Free to book" %>
      <% end %> </li>
</ul>
</div>
<p><%= link_to 'Show', space_path(space) %></p>
<% end %>
