<h2 class='available-spaces-header'>Available Spaces</h2>
<% @spaces.each do |space| %>
<div class='card' style='width: 18rem;'>
<ul class='card-body'>
    <li class='card-title'>Name: <%= space.name %> </li>
    <li class='card-text'><strong>From: </strong><%= space.location %></li>
      <div>
        <li class='card-text'><strong>Height:</strong> <%= space.height %> cm</li>
        <li class='card-text'><strong>Width:</strong> <%= space.width %> cm</li>
        <li class='card-text'><strong>Depth:</strong> <%= space.depth %> cm</li>
      </div>
    <li class='card-text'><strong>Price </strong><%= space.price %> dollars</li>
    <li class='card-text'><strong>Status:</strong>
      <% if space.booking %>
        <%= space.booking.status %>
      <% else %>
        <%= "Free to book" %>
      <% end %> </li>
</ul>
</div>
<p class='show-btn btn btn-primary'><%= link_to 'Show', space_path(space) %></p>
<% end %>
