<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1495320520040-44186a20c601?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80)">
  <h1> XSpace </h1>
  <h2>Discover New Spaces</h2>
</div>


<% @spaces.each do |space| %>

<ul>
  <li>Name: <%= space.name %> </li>
  <li>From: <%= space.location %></li>
  <li>Height: <%= space.height %> cm</li>
  <li>Width: <%= space.width %> cm</li>
  <li>Depth: <%= space.depth %> cm</li>
  <li>Price <%= space.price %> dollars</li>
</ul>
<p><%= link_to 'Show', space_path(space) %></p>
<% end %>
