<h2 class='available-spaces-header'>Available Spaces</h2>
<div class="card-wrapper">
  <% @spaces.each do |space| %>
  <div class="card-space">
    <span class="card-user-name"><%= space.user.name  %>'s</span><span> baggage</span>
    <div class='card-info'>
      <% if space.photos.presence %>
        <%# raise %>
        <%= cl_image_tag space.photos.first.key , class:'card-image' %>
      <%else%>
        <img src="https://images.unsplash.com/photo-1448582649076-3981753123b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bHVnZ2FnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-image" alt="luggage image">
      <%end%>
      <li class='title'><%= space.name %> </li>
      <li class='card-text'><span>From: </span><%= space.location %></li>
      <li class='card-text'><span>To: </span><%= space.destination %></li>
      <li class='card-text'><span>Date: </span><%= space.travel_date.strftime('%d-%m-%Y') %></li>
      <li class='card-text'><span><i class="fas fa-money-bill"></i> </span><%= space.price %> dollars</li>
    </div>
    <%= link_to 'Show', space_path(space), class: 'btn-wide' %>
  </div>
  <% end %>
</div>
