<h1><%= @space.name %></h1>


<h2>Parameters</h2>

<h4><%= @space.width %> cm</h4>
<h4><%= @space.height %> cm</h4>
<h4><%= @space.depth %> cm</h4>

<h2>Price of this space is:  <%= @space.price %> $ </h2>

<h2>Trip</h2>
<h4>From</h4> <%= @space.location %>
<h4>To</h4> <%= @space.destination %>
<h3>Travel Date: <%= @space.travel_date %></h3>

<h4>Status:
    <% if @space.booking %>
      <%= @space.booking.status %>
    <% else %>
      <%= "Free to book" %>
    <% end %> </h4>

<br>

  <div class='flexbox'>
    <% @space.photos.each do |photo| %>
        <%=cl_image_tag photo.key, class:'bagimageholder'%>
    <% end %>
  </div>
  <%# button for creating booking %>
<%= simple_form_for([@space, @booking]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
